<%- include('../partials/head.ejs', {title: title}) %>

<%- include('../partials/header.ejs') %>

<%- include('../partials/sidebar.ejs') %>
<div class="main-content" ng-app="stationApp" ng-controller="stationCtrl" ng-init="requstPageInitialize()">
  <div class="page-content">
    <div class="container-fluid">

      <%- include('../partials/breadcrumbs.ejs', {title: title}) %>

      <div class="row">
        <div class="col-lg-4">
          <div class="card border border-primary card-body">
            <h3 class="card-title mb-2"></h3>
            <form >
              <div class="mb-3">
                <label for="name" class="form-label">Order No</label>
                <input type="text" class="form-control"     ng-model="fuelOrder.orderNumber"
                placeholder="Enter Order Number">
              </div>
              
              <div class="mb-3">
                <label for="district_id">Fuel  Station</label>
                <select class="form-select" ng-model="stationId">

                    <option ng-repeat="s in fuelStations track by $index" value="{{ s.id }}">
                        {{ s.district.name }} - {{ s.name }}
                     </option>

                </select>
              </div>

 
              <div class="mb-3">
                <label >Fuel  Type</label>
                <select class="form-select" ng-model="fuelTypeId">
                    <option ng-repeat="item in fuelTypes track by $index" value="{{ item.id }}">{{ item.name}}</option>
                </select>
              </div>

              <div class="mb-3">
                <label  class="form-label">Quantity(Liters)  </label>
                <input type="number" class="form-control" ng-model="fuelOrder.qty"
                placeholder="Quantity" />
              </div>

              <div class="mb-3">
                <label  class="form-label">Order Date</label>
                <input type="datetime-local" class="form-control" ng-model="fuelOrder.receivedDateTime" step="any"
                placeholder="Select datetime" />
              </div>

                <div class="mb-3">
                    <label >Order Status</label>
                    <select class="form-select" ng-model="statusId">
                        <option ng-repeat="s in requestStatus track by $index" value="{{ s.id }}">
                        {{ s.name }}
                         </option>

                    </select>
                </div>


              <div class="mb-3">
                <button  class="btn btn-primary" ng-click="saveOrder()">Save</button>
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-8">
            <div class="row" style="margin-bottom: 20px;">
               
                <div class="col-3" >
                    <input type="date" class="form-control" ng-model="fromdate" />
                 </div>
                <div class="col-3" >
                    <input type="date" class="form-control" ng-model="todate" />
                </div>
              
                <div class="col-2" >
                    <button class="btn btn-primary" ng-click="loadquata()">Load orders</button>
                </div>

                <div class="col-2" >
                   
                </div>
            </div>
          <div class="card card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                <colgroup>
                  <col style="width: 20%;">
                  <col style="width: 25%;">
                  <col style="width: 20%;">
                  <col style="width: 20%;">
                  <col style="width: 15%;">
                </colgroup>
  
                <thead>
                  <tr>
                    <th>Order No</th>
                    <th>Fuel Station</th>
                    <th>Fuel Type</th>
                    <th>QTY</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr ng-if="!requests">
                    <td colspan="5" class="text-center">No fuel stations added yet.</td>
                  </tr>
                  <tr ng-repeat="r in requests track by $index">
                    <td>{{ r.orderNumber }}</td>
                    <td> {{ r.fuelStation.district.name }} - {{ r.fuelStation.name }}</td>
                    <td>{{ r.fuelType.name }}</td>
                    <td>{{ r.qty }}</td>
                   
                    <td>

                        <span ng-if="r.requestStatus == 1" style="background-color: darkblue; color: white; padding: 5px 10px 5px 10px;">New</span> 
                        <span ng-if="r.requestStatus == 2" style="background-color: darkorange;color: white; padding: 5px 10px 5px 10px;">Confirmed</span> 
                        <span ng-if="r.requestStatus == 3" style="background-color: darkgreen;color: white; padding: 5px 10px 5px 10px;">Delivered</span> 
                        <span ng-if="r.requestStatus == 4" style="background-color: red;color: white; padding: 5px 10px 5px 10px;">Canceled</span> 
           

                    </td>
                    <td>
                        <button class="btn btn-success btn-sm" ng-click="loadEntries(r)">Open</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/foot.ejs', {scripts: ['fuel_stations']}) %>