<%- include('./partials/head.ejs', {title: title}) %>

<%- include('./partials/header.ejs') %>

<%- include('./partials/sidebar.ejs') %>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="/assets/images/logo.jpg" height="400"/>
                    <h1 style="font-size: 5em;">Power Fuel</h1>
                    <h3>Welcome <%=user.firstName %>!</h3>
                </div>
            </div>
        </div>
    </div> <!-- container-fluid -->
</div>

<%- include('./partials/footer.ejs') %>

<%- include('./partials/foot.ejs', {scripts: []}) %>