<%- include('../partials/head.ejs', {title: title}) %>

  <%- include('../partials/header.ejs') %>

    <%- include('../partials/sidebar.ejs') %>

      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">

            <%- include('../partials/breadcrumbs.ejs', {title: title}) %>

              <div class="row">
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-body">
                      <form action="#" method="post" onsubmit="return false;" id="district_form">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="district-name" class="form-label">District Name</label>
                              <input type="text" class="form-control" id="district-name" name="district-name"
                                placeholder="Enter District Name">
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="mb-3">
                              <label for="population-density" class="form-label">Population density</label>
                              <input type="text" class="form-control" id="population-density" name="population-density"
                                placeholder="Population density" value="0">
                            </div>
                          </div>
                          <!-- population density -->
                        </div>

                        <div>
                          <button type="submit" class="btn btn-primary w-md">Submit</button>
                        </div>
                      </form>
                    </div>
                    <!-- end card body -->
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card card-body">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>District Name</th>
                          <th>Population Density</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody id="districtsTableBody">
                        <tr>
                          <td colspan="4">No districts available.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div> <!-- container-fluid -->
        </div>
      </div>

      <%- include('../partials/footer.ejs') %>

        <%- include('../partials/foot.ejs', {scripts: ['districts']}) %>