<%- include('../partials/head.ejs', {title: title}) %>

<%- include('../partials/header.ejs') %>

<%- include('../partials/sidebar.ejs') %>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">

      <%- include('../partials/breadcrumbs.ejs') %>

      <div class="row">
        <div class="col-lg-4">
          <div class="card card-body border border-warning">
            <h3 class="card-title">Edit Fuel Type</h3>
            <form action="/admin/fuel-types/update" method="post">
              <input type="hidden" name="fuelTypeId" id="fuelTypeId" value="<%=fuelType.id %>">

              <div class="row">
                <div class="mb-3">
                  <label for="fuleTypeName" class="form-label">Fuel Name</label>
                  <input type="text" class="form-control" id="fuleTypeName" name="fuleTypeName" 
                  placeholder="Enter Fuel Type" required value="<%=fuelType.name %>">
                </div>

                <div class="mb-3">
                  <label for="reorderLevel" class="form-label">Re-order Level</label>
                  <input type="number" class="form-control" id="reorderLevel" name="reorderLevel" 
                  placeholder="Enter reorder level amount" min="0" step="1" value="<%=fuelType.rolOfStation %>" required>
                </div>
              </div>

              <div>
                <button type="submit" class="btn btn-warning" id="update_fuel_types">Update</button>
                <a href="/admin/fuel-types" class="btn btn-secondary float-end">Reset</a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card card-body border border-secondary p-0">
            <table class="table table-bordered table-striped table-hover m-0" id="fuel-type-table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Fuel Type</th>
                  <th>Reorder Level</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>No fuel types added yet.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/foot.ejs', {scripts: ['fuel_types']}) %>