<%- include('../partials/head.ejs', {title: title}) %>

<%- include('../partials/header.ejs') %>

<%- include('../partials/sidebar.ejs') %>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">

      <%- include('../partials/breadcrumbs.ejs', {title: title}) %>

      <div class="row">
        <div class="col-lg-4">
          <div class="card card-body border border-warning">
            <form action="/admin/vehicle-types/edit/<%=vehicleType.id%>" method="post">
              <div class="mb-3">
                <label for="vehicle_type" class="form-label">Vehicle Type</label>
                <input type="text" class="form-control" id="vehicle_type" name="vehicle_type" 
                placeholder="Enter vehicle type" value="<%=vehicleType.name%>" required>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="period_quota" class="form-label">Period Quota</label>
                    <input type="number" class="form-control" id="period_quota" name="period_quota" 
                    placeholder="Enter quota" min="0" step="1" 
                    value="<%=vehicleType.periodAllocatedQTA%>" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="period_days" class="form-label">Period Days</label>
                    <input type="number" class="form-control" id="period_days" name="period_days" 
                    placeholder="Enter days" min="0" step="1" 
                    value="<%=vehicleType.noOfPeriods%>" required>
                  </div>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-warning">Update</button>
                <a href="/admin/vehicle-types" class="btn btn-secondary float-end">Reset</a>
              </div>
            </form>
          </div>
        </div>

        <div class="col-lg-8">
          <div class="card card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover" id="vehicleTypes">
                <thead>
                  <tr>
                    <th>Vehicle Type</th>
                    <th>Quota</th>
                    <th>Period Days</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4">No vehicle types added yet.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/foot.ejs', {scripts: ['vehicle_types']}) %>