<%- include('../partials/head.ejs', {title: title}) %>

<%- include('../partials/header.ejs') %>

<%- include('../partials/sidebar.ejs') %>
<div class="main-content"  ng-app="vehicleApp" ng-controller="vehicleCtrl" ng-init="loadFuelStations()">
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Vehicle Fuel Request</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Power Fule</a></li>
                                <li class="breadcrumb-item active">Vehicle Fuel Request</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row" style="margin-bottom: 5px;">
               
                <div class="col-2" >
                    From
                 </div>
                <div class="col-2" >
                   To
                </div>
                <div class="col-2" >
                    Fuel Station
                 </div>
                 <div class="col-2" >
                 
                 </div>
                 <div class="col-2" >
                 
                 </div>
            </div>
            <div class="row" style="margin-bottom: 20px;">
               
                <div class="col-2" >
                    <input type="date" class="form-control" ng-model="fromdate" />
                 </div>
                <div class="col-2" >
                    <input type="date" class="form-control" ng-model="todate" />
                </div>
                <div class="col-2" >
                    <select class="form-control" ng-model="fuelstationId">
                        <option ng-repeat="s in stations track by $index" value="{{ s.id }}">
                           {{ s.district.name }} - {{ s.name }}
                        </option>
                    </select>
                </div>
                <div class="col-2" >
                    <button class="btn btn-primary" ng-click="loadquata()">Load Requests</button>
                </div>

                <div class="col-2" >
                   
                </div>
            </div>

            <div class="row" style="margin-bottom: 20px;">
               <div class="col col-1" style=" margin-right: 20px;">
                    <span  style="cursor:pointer; border-radius: 10px; display:block; width: 150px; text-align: center; margin-right: 5px; background-color: darkblue; color: white; padding: 5px 10px 5px 10px;" ng-click="filteryByStatus(-1)" >All</span> 
               </div>
               <div class="col col-1"  style=" margin-right: 20px;">
                    <span  style="cursor:pointer;border-radius: 10px; display:block; width: 150px; text-align: center;  margin-right: 5px; background-color: darkorange;color: white; padding: 5px 10px 5px 10px;" ng-click="filteryByStatus(2)">Confirmed</span> 
                </div>
                <div class="col col-1"  style=" margin-right: 20px;">
                    <span  style="cursor:pointer;border-radius: 10px;display:block; width: 150px;  text-align: center;  margin-right: 5px; background-color: darkgreen;color: white; padding: 5px 10px 5px 10px;" ng-click="filteryByStatus(3)">Delivered</span> 
                </div>
                <div class="col col-1"  style=" margin-right: 20px;">
                    <span  style="cursor:pointer; border-radius: 10px;display:block; width: 150px;  text-align: center;  margin-right: 5px; background-color: red;color: white; padding: 5px 10px 5px 10px;" ng-click="filteryByStatus(4)">Canceled</span> 
                </div>
                <div class="col col-1"  style=" margin-right: 20px;">
  
                </div>
                <div class="col col-1"  style=" margin-right: 20px;">
                    <button class="btn btn-danger" ng-click="cancelAll()">Cancel All</button>
                </div>
                <div class="col col-1"  style=" margin-right: 20px;">
  
                </div>
               

            </div>
            <div class="row">
                <div class="col col-10" >
                   
                </div>
                <div class="col col-2"  >
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Search Requests" />
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">


                            <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                <thead>
                                <tr>
                                   
                                    <th></th>                         
                                    <th>Vehicle</th>                         
                                    <th>FuelType</th>
                                    <th>QTY</th>
                                    <th>Requested Date Time</th>
                                    <th>Status</th>
                                    <th></th>
                
                                </tr>
                                </thead>


                                <tbody>
                                <tr ng-repeat="r in requests | filter: searchText">
                                    <td> <input ng-if="r.requestStatus == 2" type="checkbox" ng-model="r.selected" /> </td>
                                    <td>{{ r.vehicle.plateNo }}</td>
                                    <td>{{ r.fuelType.name }}</td>
                                    <td>{{ r.qty }}</td>
                                    <td>{{ r.requestedDateTime | date: 'MMM-dd-yyyy HH:mm' }}</td>
                                    <td>

                                        <span ng-if="r.requestStatus == 1" style="background-color: darkblue; color: white; padding: 5px 10px 5px 10px;">New</span> 
                                        <span ng-if="r.requestStatus == 2" style="background-color: darkorange;color: white; padding: 5px 10px 5px 10px;">Confirmed</span> 
                                        <span ng-if="r.requestStatus == 3" style="background-color: darkgreen;color: white; padding: 5px 10px 5px 10px;">Delivered</span> 
                                        <span ng-if="r.requestStatus == 4" style="background-color: red;color: white; padding: 5px 10px 5px 10px;">Canceled</span> 
                                    </td>
                             
                                   

                                </tr>

                           


                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') %>

<%- include('../partials/foot.ejs', {scripts: ['vehicle']}) %>